* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: green;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  color: black;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  font-size: 40px;
}
#board {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 452px;
}

#playerNames {
  display: flex;
}

.names {
  padding-right: 15px;
}
